<h1>所有的科研人员的科研成果</h1>
<table>
  <tr>
    <th>论文题目</th>
    <th>类型</th>
    <th>专利号</th>
    <th>摘要</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @school_articles.each do |school_article| %>
      <tr>
        <td><%= school_article.title %></td>
        <td><%= school_article.article_type %></td>
        <td><%= school_article.patent_number %></td>
        <td><%= school_article.content %></td>
        <td><%= link_to '更多', school_article %></td>
        <td><%= link_to '编辑', edit_school_article_path(school_article) %></td>
        <td><%= link_to '删除', school_article,
                        confirm: "确定删除科研成果：#{school_article.title}", method: :delete %></td>

      </tr>
  <% end %>
</table>